<h2>My Heroes</h2>

<!-- Display a list of heroes using *ngFor -->
<ul class="heroes">
  <li 
    *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>

<!-- Conditionally show hero details using *ngIf -->
<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedHero.id }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <!-- Two-way data binding for hero name -->
    <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
</div>
