<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Client</title>
    <!-- <script src="../node_modules/socket.io/dist/socket.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
     <script>
        let clientIO = io();
        clientIO.emit('hello', 'Grettings from mehmet ali');
        clientIO.on('welcome', (msg)=> {
            console.log(`Hello from : ${msg}`);
        });
     </script>
</head>
<body>
    <h1>Welcome to Socket Programming</h1>
</body>
</html>

